body{
  margin-top: 0px;
}


.light{
  border-radius: 50%;
  background-color: red;
  height: 100px;
  width: 100px;
  opacity:0.4;
  transition: all .3s;
}

.trafficLight{
  display: flex;
  flex-direction: column;
  gap:1rem;
  padding:1rem;
  border:1px solid black;
  width:fit-content;
  margin:auto;
}

.stick{
  width: 20px;
  height: 100px;
  background-color: black;
  margin:auto;
}

.selected-light {
  border: 3px solid #add8e6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}